meta(charset='utf-8')/
meta(http-equiv='X-UA-Compatible' content='IE=edge')/
title Daily Programming
link(href='adminlte/dist/img/codingggg.jpg?v=1' rel='apple-touch-icon' sizes='76x76')/
link(href='adminlte/dist/img/codingggg.jpg?v=1' rel='icon' type='image/png')/
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')/
link(rel='stylesheet' href='/adminlte/bootstrap/dist/css/bootstrap.min.css')/
link(rel='stylesheet' href='/adminlte/font-awesome/css/font-awesome.min.css')/
link(rel='stylesheet' href='/adminlte/Ionicons/css/ionicons.min.css')/
link(rel='stylesheet' href='/adminlte/datatables.net-bs/css/dataTables.bootstrap.min.css')/
link(rel='stylesheet' href='/adminlte/dist/css/AdminLTE.min.css')/
link(rel='stylesheet' href='/adminlte/plugins/iCheck/square/blue.css')/

link(rel='stylesheet' href='/adminlte/dist/css/skins/_all-skins.min.css')/

