header.main-header
  a.logo(href='index2.html')
    span.logo-mini
      b DP

    span.logo-lg
      b Daily Programming
      
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href='#' data-toggle='push-menu' role='button')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            img.user-image(src='adminlte/dist/img/avatar04.png' alt='User Image')
            span.hidden-xs Alexander Pierce
          ul.dropdown-menu
            li.user-header
              img.img-circle(src='adminlte/dist/img/avatar04.png' alt='User Image')
              p
                | Alexander Pierce - Web Developer
                small Member since Nov. 2012
            li.user-body
                      
            li.user-footer
             
            
              .pull-right
                a.btn.btn-default.btn-flat(href='#') Sign out

