aside.main-sidebar
 section.sidebar

  .user-panel
     .pull-left.image
      img.img-circle(src='adminlte/dist/img/avatar04.png' alt='User Image')|
     .pull-left.info

       p Riko Pernando
     
  ul.sidebar-menu(data-widget='tree')
      li.header MAIN NAVIGATION
      li.active.treeview
       a(href='#')
         i.fa.fa-dashboard
         span Dashboard
         span.pull-right-container
          i.fa.fa-angle-left.pull-right
       ul.treeview-menu
        li.active
           a(href='index.html')
            i.fa.fa-circle-o
             |  Dashboard v1

      li
        a(href='#')
          i.fa.fa-user
          span User


      li
        a(href='#')
          i.fa.fa-code
          span Bahasa Pemrograman


      li
        a(href='#')
          i.fa.fa-edit
          span Artikel


 





